// variables
@use "variables";

// layouts
@use "base";

// components
@use "components/draggable";
@use "components/modal";
@use "components/hero";
@use "components/header";
@use "components/workspace";
@use "components/feature";
@use "components/footer";

a {
  text-decoration: none;
  color: black;
}

button,
a{
  cursor: pointer;
}

.main-content{
  padding: 20px;

  button{
    padding: 12px;
    color: white;
    background-color: #121212;
    outline: none;
    border: 1px solid #303030;
    border-radius: 4px;
  }
}

// card
.el-card{
  min-width: 400px;
}

// button
.el-button{
  padding: 12px;
}

.el-button + .el-button {
  margin-left: 0px;
}

.el-button .small{
  width: 32px;
}

.el-form{

  h1 {
    margin-bottom: 12px;
  }

}

.router-link-active .router-link-exact-active{
  text-decoration: none;

}



.h-screen{
  height: 100vh;
}

.container {
  max-width : 1400px;
  margin: 0px auto;
}

@media (max-width: 1400px){

}
